In [1]:
import pandas as pd

In [3]:
data= pd.read_csv('./data.csv')

In [4]:
data.head(3)

,age,job,marital,education,default,balance,housing,loan,contact,y
0,27,management,single,secondary,no,35,no,no,cellular,no
1,54,blue-collar,married,primary,no,466,no,no,cellular,no
2,43,blue-collar,married,secondary,no,105,no,yes,cellular,no